
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}

.traffic-light {
  width: 200px;
  background-color: #000;
  border-radius: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.light {
  width: 150px;
  height: 150px;
  background-color: #333;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.light.red.active {
  background-color: red;
}

.light.yellow.active {
  background-color: yellow;
}

.light.green.active {
  background-color: limegreen;
}
